# Sanal ortam
venv/

# Node.js bağımlılıkları (Frontend)
frontend/node_modules/

# IDEA ve VSCode ayar dosyaları
.idea/
.vscode/

# Çalışma dosyaları
*.log
*.env

# Çıkış dosyaları
dist/
build/

node_modules/
backend/__pycache__/
*.pyc
*.pyo
*.db
venv/
dist/
*.exe
